**/node_modules/
services/account-service/config/firebase-service-account.json
.env
services/account-service/config/firebase-service-account.json
services/api-gateway/config/firebase-service-account.json
firebase-service-account.json
project_dump/
create_dump.sh